# ===== Shared =====
.DS_Store
*.swp
*.swo
*~

# ===== Gradle =====
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# ===== Kotlin =====
.kotlin/

# ===== IDE (Android Studio / IntelliJ) =====
.idea/
*.iml
.vscode/
captures/
.externalNativeBuild/
.cxx/

# ===== Android =====
*.apk
*.aab
*.ap_
*.dex

# ===== iOS =====
*.xcuserdata
*.xcworkspace
Pods/
DerivedData/

# ===== Python / Misc =====
venv/
__pycache__/
*.pyc

# ===== Node (if any) =====
node_modules/
*google-services.json